:root {
  --l_Green: #d4df38;
  --d_Green: #464648;
  --white: #ffffff;
  --grey: #f7f7f7;
  --font-size-normal: 1.4rem;
  --time: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.white {
  background-color: var(--white);
  padding: 60px 200px;
}

.grey {
  background-color: var(--grey);
  padding: 60px 200px;
}

form {
  color: var(--d_Green);
  font-size: 1.4rem;
}

p {
  font-size: 1.4rem;
}

h2 {
  font-size: 2rem;
}

li {
  padding: 10px 10px;
}

li input {
  margin-right: 40px;
}

li p {
  margin-bottom: 10px;
}

.main_title {
  background-color: var(--d_Green);
  position: relative;
  display: flex;
  color: var(--white);
}

.main_title div {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

#main-logo {
  height: 100%;
}

.white_shadow {
  padding: 10px 60px;
  box-shadow: inset 0px 7px 10px 0px rgba(0, 0, 0, 0.4);
  color: var(--d_Green);
  /* height: 80px; */
}

.dark_green {
  background-color: var(--l_Green);
  color: var(--d_Green);
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 60px;
}

.buttons input {
  height: 50px;
  width: 200px;
  margin: 0px 30px;
  cursor: pointer;
  background-color: var(--l_Green);
  color: var(--d_Green);
  font-size: 1.5rem;
  font-weight: bolder;
  border: none;
  outline: none;
  transition: background-color var(--time), color var(--time),
    outline var(--time), outline-offset var(--time);
}

.buttons input:hover {
  background-color: var(--d_Green);
  color: var(--l_Green);
  outline: 1px solid black;
  outline-offset: 7px;
  padding: 10px;
}

input[type="text"] {
  font-size: 1.2rem;
}

textarea {
  font-size: 1.2rem;
}

.fa-solid {
  color: var(--l_Green);
  font-size: 5rem;
  margin-right: 20px;
}

/* FOOTER */
footer {
  background-color: var(--d_Green);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
}

.footer-content {
  width: 75%;
}

.footer-content p {
  text-align: center;
  margin: 30px 0;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid var(--l_Green);
}

.links p {
  font-size: 1.1rem;
  color: var(--white);
}

.links p a {
  color: var(--grey);
}
